



.App {
  padding: 100px;
}


.model-container {
  display: flex;
  margin-bottom: 20px;
}

.model-item {
  width: 200px;
  padding: 5px;
  margin: 20px;
}

.model-item > img {
  width: 100%;
}

.model-item > div {
  margin: 5px 0;
}

.model-item > img:hover {
  cursor: pointer;
}

.model-item.active {
  border: 2px solid #4CAF50;
  border-radius: 8px;
}
